<header class="masthead">
  <nav class="nav">
    <ul class="nav__list">
      <!--<% data.pages.navigation.each do |nav| %>
        --><li class="nav__item">
          <a title="<%= nav.alt %>" class="nav__link--<%= nav.icon || nav.slug %> ss-nav-<%= nav.icon || nav.slug %>" href="/<%= nav.slug %>"><%= nav.label %></a>
        </li><!--
      <% end %>-->
    </ul>
  </nav>
</header>
<div class="btns--menu">
  <a href="#menu" class="btn" data-js="toggle-navigation"><span class="btn__label">Menu</span></a>
</div>