<header class="masthead">
  <nav class="nav">
    <ul class="nav__list">
      <!--<% data.pages.masthead.each do |nav| %>
        --><li class="nav__item">
          <% label = nav.abbr ? "<abbr class='nav__label' title='#{nav.abbr.title}'>#{nav.abbr.label}</abbr>" : "<span class='nav__label'>#{nav.label}</span>" %>
          <a title="<%= nav.alt %>" class="nav__link--<%= nav.icon || nav.slug %> ss-nav-<%= nav.icon || nav.slug %>" href="/<%= nav.slug %>"><%= label %></a>
        </li><!--
      <% end %>-->
    </ul>
  </nav>
</header>
<div class="btns--menu">
  <a href="#menu" class="btn" data-js="toggle-navigation"><span class="btn__label">Menu</span></a>
</div>