---
title: A written insight into the world of Rob Sterlini
priority: 0.95
---

<section id="content" class="wrapper">
  <main id="main">
    <article class="type group">
    <h1>Blog</h1>
    <% if page_articles.count > 0 %>
      <h2>Recent journal posts</h2>
      <% posts_to_show = defined?(default_posts) ? default_posts : 5; page_articles.take(posts_to_show.to_i).each_with_index do |article, i| %>
        <% t_name = ''; t_link = ''; article.tags.each do |tag, articles| %>
          <% t_link = tag_path(tag); t_name = tag %>
        <% end %>
        <% localised_date = "<time>#{article.date.strftime("%e %b %y")}</time>" %>
        <h3><%= link_to article.title, article, title: "Read #{article.title}" %></h3>
        <p><%= article.data.description %></p>
        <p class="small-caps"><%= localised_date %> • <%= link_to "#{t_name}", "#{t_link}", title: "See other posts about #{t_name}" %></p>
      <% end %>

      <p class="btns--center"><%= link_to "There are more in the archive", "/archive.html", title: "See the rest of my blog entries", class: "btn" %></p>

      <h2>Categories</h2>
      <%= partial "partials/categories" %>
    <% else %>
      <h2>Oops!</h2>
      <p>There aren’t any blog posts yet; looks like I’ve got some writing to do.</p>
    <% end %>
    </article>
  </main>
</section>