---
title: A written insight into the world of Rob Sterlini
nav: journal
priority: 0.95
---

<section id="content" class="wrapper">
  <% page_articles.take(5).each_with_index do |article, i| %>
    <% t_name = ''; t_link = ''; article.tags.each do |tag, articles| %>
      <% t_link = tag_path(tag); t_name = tag %>
    <% end %>
    <% localised_date = "<time>#{article.date.strftime("%e %b %y")}</time>" %>
    <% if i == 0 %>
      <%= partial "partials/hero", locals: {
        image: article.data.hero || "main.jpg",
        image_small: article.data.hero_small || article.data.hero || "main_600.jpg",
        image_loc: article.data.hero ? "/assets/journal/#{article.url.sub! "/journal/", "".to_slug}" : hero_dir,
        title: "#{article.title}",
        subtitle: article.data.description,
        extra: "<p class='small-caps'>#{localised_date} • <a href='#{t_link}' title='See other posts about #{t_name}' class=' post-list__post--category'>#{t_name}</a></p><p class='btns'><a class='btn' href='#{article.url}' title='#{article.title}'>Read it in full</a></p>",
        featured: "<p class='hero__category'><span class='small-caps'>Featured post</span><br>#{current_page.data.title}</p>"
      } %>

      <main id="main">
        <article class="type group">
        <h2>Recent journal posts</h2>
      <% else %>
    <% end %>
    <h3><%= link_to article.title, article %></h3>
    <p><%= article.data.description %></p>
    <p class="small-caps"><%= localised_date %> • <a href='<%= t_link %>' title='See other posts about <%= t_name %>'><%= t_name %></a></p>
  <% end %>

    <p class="btns--center"><a href="/archive" class="btn" title="See the rest of my blog entries">There are more in the archive</a></p>

    <h2>Categories</h2>
    <ul class="categories"><!--
      <% blog.tags.each do |tag, articles| %>
        --><li class="category__item"><%= link_to "#{tag}", tag_path(tag), :class => "category__link ss-cat-#{tag.to_slug}", :title => "Read the #{articles.size} posts on #{tag}" %></li><!--
      <% end %>
    --></ul>

    </article>
  </main>
</section>